body{
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}
.navbar{
   display: flex;
   flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 44px;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    position: fixed;
    height: 44px;
    left: 0px;
    right: 0px;
    top: 0px;
   justify-content: center;
   z-index: 2;
}
#logo{
    font-size: 25px;
    margin-top: 7px;
}
.navbar h1{
    font-size: large;
}
.navbar ul{
    margin-top: 13px;
}
.navbar ul li{
    padding: 5px 20px;
    display: inline;
    text-align: center; 
    font-weight: lighter;
    font-size: smaller;
}
.navbar ul li:hover{
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
}
.navbar .search-logo{
 padding: 0px 25px;
 font-size: 40px;
}

#menu-bar{
    display: none;
    border: 1px #2A2B3C solid;
}
.navbar label{
    cursor: pointer;
    display: none;
    position: relative;
}
.section-condainer{
    width: 100%;
}
.head{
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    height: 450px;
    left: 0px;
    right: 0px;
    top: 44px;
    width: 100%;
    color: #f5f5f7;
    text-align: center;
    display:grid;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    
}
.head h1{
height: 120px;
font-size: 60px;
font-weight: 550;
line-height: 80px;
font-style: normal;
letter-spacing: -0.28px;
width: 900px;
height: 120px;
padding-top: 9%;
}

.head .announcement{
    border: 2px;
    width: 340px;
    border-style: solid;
    border-color:rgba(233, 95, 51, 1)
    rgba(204, 24, 198, 1)
    rgba(70, 152, 255, 1)
    rgba(37, 101, 244, 1);
    box-sizing: border-box; 
    border-radius: 980px;
    margin-left: 30%;
    font-style: normal;
    font-size: 15px;
    font-weight: 10;
    line-height: 20px;
    margin-bottom: 5%;
}
.macbook-pro{
    height: 300px;
    background-color: black;
    width: 100%;
    margin-top: 500px;
    color: #f5f5f7;
    text-align: center;
    isolation: isolate;
}
.macbook-pro h1{
    font-size: 65px;
    
}
.macbook-pro h4{
    font-size: 30px;
    font-weight:lighter;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: -40px;
    
}
.macbook-pro h5{
    font-size: 23px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;;
    
}
.learnmore-link ul {
    display: flex;
    list-style: none;
    margin-top: -25px;
    margin-left: 7%;
    
}
.learnmore-link ul li{
  font-size: 25px;
    color: #2997FF;
    width: 200px;
}
.macbook-pro-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 35%;
}
.macbook-pro .macbook-pro-img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    
}
.mac-mini{
    height: 300px;
    background-color: black;
    width: 100%;
    margin-top: 595px;
    color: #f5f5f7;
    text-align: center;
    isolation: isolate;
}
.mac-mini h1{
    font-size: 65px;
    
}
.mac-mini h4{
    font-size: 30px;
    font-weight:lighter;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: -40px;
    
}
.mac-mini h5{
    font-size: 23px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;;
    
}
.mac-mini-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 37%;
}   
.mac-mini .mac-mini-img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    
}
.mac-mini-learnmore-link ul {
    display: flex;
    list-style: none;
    margin-top: -25px;
    
}
.mac-mini-learnmore-link ul li{
  font-size: 25px;
    color: #2997FF;
    width: 200px;
}

.homepad{
    height: 300px;
    background-color: black;
    width: 100%;
    margin-top: 650px;
    color: #f5f5f7;
    text-align: center;
    isolation: isolate;
}
.homepad h1{
    font-size: 65px;
    
}
.homepad h4{
    font-size: 30px;
    font-weight:lighter;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: -40px;
    
}
.homepad h5{
    font-size: 23px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;;
    
}
.homepad-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 37%;
}   
.homepad .homepad-img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    
}
.homepad-learnmore-link ul {
    display: flex;
    list-style: none;
    margin-top: -25px;
    
}
.homepad-learnmore-link ul li{
  font-size: 25px;
    color: #2997FF;
    width: 200px;
}
.grid-condainer{
    top: 3300px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 98%; 
}
.creative{
    background-color: black;
    width: 100%;
    color: #f5f5f7;
    text-align: center;
    isolation: isolate;
    padding-top: 5%;
    margin-left: 10px;
    height: 624px;
}
.creative h1{
    font-size: 36px;
    
}
.creative h5{
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;
    
}
.creative-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 17%;
}   
.creative img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    
}
.creative-learnmore-link ul {
    display: flex;
    list-style: none;
    margin-left: -3%;
}
.creative-learnmore-link ul li{
   font-size: 20px;
    color: #2997FF;
    width: 125px;
}
.watch{
    background-color: black;
    width: 100%;
    color: #f5f5f7;
    text-align: center;
    isolation: isolate;
    padding-top: 5%;
    margin-left: 20px;
    height: 624px;
}
.watch h5{
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;
    
}
.watch-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 15%;
    padding-top: 3%;
}   
.watch img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    
}
.watch-learnmore-link ul {
    display: flex;
    list-style: none;
    margin-left: 75px;
    
}
.watch-learnmore-link ul li{
   font-size: 20px;
    color: #2997FF;
    width: 125px;
   
}
.iphone-14pro{
    background-color: black;
    width: 100%;
    color: #f5f5f7;
    text-align: center;
    isolation: isolate;
    padding-top: 5%;
    margin-left: 10px;
    height: 624px;
    margin-top: 14%;
}
.iphone-14pro h1{
    font-size: 36px;
    
}
.iphone-14pro h5{
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;
    
}
.iphone-14pro-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 17%;
}   
.iphone-14pro img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    
}
.iphone-14pro-learnmore-link ul {
    display: flex;
    list-style: none;
    margin-left: -3%;
}
.iphone-14pro-learnmore-link ul li{
   font-size: 20px;
    color: #2997FF;
    width: 125px;
}
.iphone-14{
    background-color: #fbfbfd;
    width: 100%;
    color: #1d1d1f;
    text-align: center;
    isolation: isolate;
    padding-top: 5%;
    margin-left: 20px;
    height: 624px;
    margin-top: 14%;
}
.iphone-14 h1{
    font-size: 36px;
    
}
.iphone-14 h5{
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;
    
}
.iphone-14-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 17%;
}   
.iphone-14 img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    
}
.iphone-14-learnmore-link ul {
    display: flex;
    list-style: none;
    margin-left:3%;
}
.iphone-14-learnmore-link ul li{
   font-size: 20px;
    color: #2997FF;
    width: 150px;
}
.gift{
    background-color:rgba(0, 0, 0, 1);
    width: 100%;
    color: #f5f5f7;
    text-align: center;
    isolation: isolate;
    padding-top: 5%;
    margin-left: 10px;
    height: 624px;
    margin-top: 14%;
}
.gift h1{
    font-size: 36px;
    
}
.gift h4{
    font-size: 25px;
    font-weight:lighter;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: -40px;
    padding-top: 20px;
    
}
.gift h5{
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;
    
}
.gift-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 15%;
}   
.gift img{
    width: 100%;
    z-index: 0;
    margin-top:-5%;
    position: relative;
    
}
.card{
    background-color: #fbfbfd;
    width: 100%;
    color: #1d1d1f;
    text-align: center;
    isolation: isolate;
    padding-top: 5%;
    margin-left: 20px;
    height: 624px;
    margin-top: 14%;
}
.card h1{
    font-size: 36px;
    
}
.card h5{
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    color:  #6E6E73;
    
}
.card-topitem{
    z-index: 1;
    position: absolute;
    margin-left: 17%;
}   
.card img{
    width: 100%;
    z-index: 0;
    margin-top:1%;
    position: relative;
    margin-top: -5%;
    
}
.card-learnmore-link ul {
    display: flex;
    list-style: none;
    margin-left:12%;
}
.card-learnmore-link ul li{
   font-size: 20px;
    color: #2997FF;
    width: 125px;
   
}
.final-section{
    position: absolute;
    top : 5619px;
    width: 100%;
    background-color: #f5f5f7;
  
}
.final-section hr{
    margin-top: 50px;
    width: 70%;
}
.final-section .final-condainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}
.final-section .final-condainer h4{
    padding-left: 18%;
}
.final-section ul{
    list-style: none;
    padding: 5px 50px;
}
.final-section ul li{
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
}
.final-section ul li:hover{
    cursor: pointer;
    background-color: silver;
    border-radius: 10px;
    
}
.footer{
    background-color: #f5f5f7;
    height: 100px;
    position: absolute;
    top: 6085px;
    width: 100%;
    text-align: center;
}
.footer h2{
    font-weight: 600;
    height: 20px;
}
.footer h4{
    font-weight: 300;
    padding-top:5px; 
}

@media only screen and (max-width: 767px) {
       
    .nav-links{
        display: none;
    }
    .navbar ul{
    
        margin-top: 20px;
        width: 500%;
        background-color:  gray;
        padding-left: 15%;
        margin-left: -11%;
    
    }
    #logo{
        margin-left: -15%;
    }
    .navbar ul li{
        padding: 5px 20px;
        display: flex; 
        font-weight: lighter;
        font-size: smaller;
        width: 255px;
    }
    .navbar ul li:hover{
        cursor: pointer;
        background-color: black;
        border-radius: 10px;
        width: 100px;
    }
    .navbar label{
        display: initial;
        margin-left: 60%;
        margin-top: 10px;
    }
    #menu-bar:checked~.nav-links{
        display: initial;
        z-index: 10;
    }   
    .section-condainer{
        width: 100%;
    }
    .search-logo{
        margin-top: -35px;
        margin-left: 70%;
    }
    .bag{
        margin-top: -88px;
        margin-left: 90%;
    }
    .head{
        background-color: rgba(0, 0, 0, 1);
        position: absolute;
        height: 300px;
        left: 0px;
        right: 0px;
        top: 44px;
        width: 100%;
        color: #f5f5f7;
        text-align: center;
        display:grid;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        
    }
    .head h1{
    font-size: 20px;
    font-weight: 550;
    line-height: 50px;
    font-style: normal;
    letter-spacing: -0.28px;
    width: 200px;
    height: 120px;
    padding-top: 9%;
    }
    
    .head .announcement{
        border: 2px;
        width: 200px;
        border-style: solid;
        border-color:rgba(233, 95, 51, 1)
        rgba(204, 24, 198, 1)
        rgba(70, 152, 255, 1)
        rgba(37, 101, 244, 1);
        box-sizing: border-box; 
        border-radius: 980px;
        margin-left: 1%;
        font-style: normal;
        font-size: 10px;
        font-weight: 10;
        line-height: 10px;
    }
    .macbook-pro{
        height: 400px;
        background-color: black;
        width: 100%;
        margin-top: 346px;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
    }
    .macbook-pro h1{
        font-size: 25px;
        
    }
    .macbook-pro h4{
        font-size: 100%;
        font-weight:lighter;
        font-style: normal;
        letter-spacing: 0px;
        margin-top: -20px;
        
    }
    .macbook-pro h5{
        font-size: 100%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;;
        
    }
    .learnmore-link ul {
        display: flex;
        list-style: none;
        margin-top: 0px;
        margin-left: -1%;
        
    }
    .macbook-pro .learnmore-link ul li{
      font-size: 85%;
        color: #2997FF;
        width: 40%;
    }
    .macbook-pro-topitem{
        z-index: 1;
        margin-left: calc(20%);
        margin-right: calc(20%);
        margin-top: 30px;

    }
    .macbook-pro .macbook-pro-img{
        z-index: 0;
        margin-top:200px;
        position: relative;
        
    }
    .mac-mini{
        height: 400px;
        background-color: black;
        width: 100%;
        margin-top: 3px;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
    }
    .mac-mini h1{
        font-size: 25px;
        
    }
    .mac-mini h4{
        font-size: 100%;
        font-weight:lighter;
        font-style: normal;
        letter-spacing: 0px;
        margin-top: -20px;
        
    }
    .mac-mini h5{
        font-size: 100%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;;
        
    }
    .mac-mini-learnmore-link ul {
        display: flex;
        list-style: none;
        margin-top: 0px;
        
    }
    .mac-mini-learnmore-link ul li{
      font-size: 85%;
        color: #2997FF;
        width: 40%;
    }
    .mac-mini-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(20%);
        margin-right: calc(20%);
        margin-top: 30px;
    }
    .mac-mini .mac-mini-img{
        width: 100%;
        z-index: 0;
        margin-top:200px;
        position: relative;
        
    }
    .homepad{
        height: 400px;
        background-color: black;
        width: 100%;
        margin-top: 3px;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
    }
    .homepad h1{
        font-size: 25px;
        
    }
    .homepad h4{
        font-size: 100%;
        font-weight:lighter;
        font-style: normal;
        letter-spacing: 0px;
        margin-top: -20px;
        
    }
    .homepad h5{
        font-size: 100%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;;
        
    }
    .homepad-learnmore-link ul {
        display: flex;
        list-style: none;
        margin-top: 0px;
        
    }
    .homepad-learnmore-link ul li{
      font-size: 85%;
        color: #2997FF;
        width: 40%;
    }
    .homepad-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(20%);
        margin-right: calc(20%);
        margin-top: 30px;
    }
    .homepad .homepad-img{
        width: 100%;
        z-index: 0;
        margin-top:200px;
        position: relative;
        
    }
    
    .grid-condainer{
      grid-template-columns: 1fr;
      position: relative;
      text-align: center;
      width: 100%;
      top: 3px;
    }
    .creative{
        width: 98%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 95%;
        margin-left: 3px;
        margin-top: 0px;
    }
    .creative h1{
        font-size: 15px;
        
    }
    .creative h5{
        font-size: 80%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .creative-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(26%);
        margin-right: calc(25%);
    }   
    .creative img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .creative-learnmore-link ul {
        display: flex;
        list-style: none;
    }
    .creative-learnmore-link ul li{
       font-size: 90%;
        color: #2997FF;
        width: 40%;
    }
    .watch{
        width: 98%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 85%;
        margin-left: 4px;
        margin-top: 1px;
    }
    .watch h5{
        font-size: 100%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .watch-topitem{
        z-index: 1;
        position: absolute;
         margin-left: calc(10%);
        margin-right: calc(10%);
        margin-top: -10%;

    }   
    .watch img{
        width: 100%;
        z-index: 0;
        margin-top:30%;
        position: relative;
        
    }
    .watch-learnmore-link ul {
        display: flex;
        list-style: none;
        
    }
    .watch-learnmore-link ul li{
        font-size: 80%;
        color: #2997FF;
        width: 55%;
        margin-left: -20%;
       
    }
    .iphone-14pro{
        width: 98%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 85%;
        margin-left: 3px;
        margin-top: 1px;
    }
    .iphone-14pro h1{
        font-size: 20px;
    }
    .iphone-14pro h5{
        font-size: 13px;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .iphone-14pro-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(30%);
        margin-right: calc(21%);
    }   
    .iphone-14pro img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .iphone-14pro-learnmore-link ul {
        display: flex;
        list-style: none;
        margin-left: -3%;
        
    }
    .iphone-14pro-learnmore-link ul li{
        font-size: 13px;
        color: #2997FF;
        width: 70px;
       
    }

    .iphone-14{
        width: 98%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 85%;
        margin-left: 3px;
        margin-top: 1px;
    }
    .iphone-14 h1{
        font-size: 20px;
        color: #1d1d1f;
    }
    .iphone-14 h5{
        font-size: 13px;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .iphone-14-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(35%);
        margin-right: calc(21%);
    }   
    .iphone-14 img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .iphone-14-learnmore-link ul {
        display: flex;
        list-style: none;
        margin-left: -3%;
        
    }
    .iphone-14-learnmore-link ul li{
        font-size: 13px;
        color: #2997FF;
        width: 70px;
       
    }
    .gift{
        width: 98%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 85%;
        margin-left: 3px;
        margin-top: 1px;
    }
    .gift h1{
        font-size: 20px;
    }
    .gift h4{
        font-size: small;
        padding-top: 20%;
    }
    .gift h5{
        font-size: 100%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .gift-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(23%);
        margin-right: calc(20%);
    }   
    .gift img{
        width: 100%;
        z-index: 0;
        margin-top:26%;
        position: relative;
        
    }
    .gift-learnmore-link ul {
        display: flex;
        list-style: none;
        margin-left: -3%;
        
    }
    .gift-learnmore-link ul li{
        font-size: 13px;
        color: #2997FF;
        width: 70px;
       
    }

    .card{
        width: 98%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 85%;
        margin-left: 3px;
        margin-top: 1px;
    }
    .card h1{
        font-size: 20px;
    }
    .card h5{
        font-size: 100%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .card-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(10%);
        margin-right: calc(10%);
        margin-top: -10%;
    }   
    .card img{
        width: 100%;
        z-index: 0;
        margin-top:30%;
        position: relative;
        
    }
    .card-learnmore-link ul {
        display: flex;
        list-style: none;
        
    }
    .card-learnmore-link ul li{
        font-size: 90%;
        color: #2997FF;
        width: 35%;
       
    }
    .shop-and-learn h2{
        font-size: 18px;
    }
    .shop-and-learn {
       text-align: center;
        width: 100%;
    }
    .services{
       width: 100%;
       text-align: center;
    }
    .apple-store{
        width: 100%;
        text-align: center;
    }
    .apple-values{
       width: 100%;
       text-align: center;
    }
    .about-apple{
        width: 100%;
        text-align: center;
    }
    .final-section{
        position: relative;
        top:7px;
        width: 100%;
        background-color: #f5f5f7;

    }
    .final-section hr{
        margin-top: 5px;
        width: 70%;
    }
    .final-section .final-condainer{
        margin-left: 0px;
    }
    .final-section .final-condainer h4{
        padding-left: 18%;
    }
    .final-section ul{
        list-style: none;
    }
    .final-section ul li{
        padding-top: 8px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
    .final-section ul li:hover{
        cursor: pointer;
        background-color: silver;
        border-radius: 30px;
        padding: 10p;
    }
    .footer{
        height: 100px;
        position: relative;
        top: 15px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        background-color: black;
        color: #f5f5f7;
    }
    .footer h2{
        font-weight: 600;
        height: 20px;
    }
    .footer h4{
        font-weight: 300;
        padding-top: 0px;
    }
}
@media only screen and (min-width:768px) and (max-width: 1020px) {
    .nav-links{
        display: none;
    }
    .navbar ul{
    
        margin-top: 15px;
        width: 800px;
        background-color:  gray;
        padding-left: 15%;
        padding: 10px;
        margin-left: %;
    
    }
    #logo{

    }
    .navbar ul li{
        padding: 5px 20px;
        display: flex; 
        font-weight: lighter;
        font-size: smaller;
        width: 255px;
    }
    .navbar ul li:hover{
        cursor: pointer;
        background-color: black;
        border-radius: 10px;
        width: 100px;
    }
    .navbar label{
        display: initial;
        margin-left: 75%;
        margin-top: 10px;
    }
    #menu-bar:checked~.nav-links{
        display: initial;
        z-index: 10;
    }   
    .section-condainer{
        width: 100%;
    }
    .search-logo{
        margin-top: -35px;
        margin-left: 70%;
    }
    .bag{
        margin-top: -88px;
        margin-left: 90%;
    }
    .head{
        background-color: rgba(0, 0, 0, 1);
        position: absolute;
        height: 350px;
        left: 0px;
        right: 0px;
        top: 44px;
        width: 100%;
        color: #f5f5f7;
        text-align: center;
        display:grid;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        
    }
    .head h1{
    font-size: 25px;
    font-weight: 550;
    line-height: 50px;
    font-style: normal;
    letter-spacing: -0.28px;
    width: 250px;
    height: 120px;
    padding-top: 9%;
    }
    
    .head .announcement{
        border: 2px;
        width: 200px;
        border-style: solid;
        border-color:rgba(233, 95, 51, 1)
        rgba(204, 24, 198, 1)
        rgba(70, 152, 255, 1)
        rgba(37, 101, 244, 1);
        box-sizing: border-box; 
        border-radius: 980px;
        margin-left: 10%;
        font-style: normal;
        font-size: 10px;
        font-weight: 10;
        line-height: 10px;
    }
    .macbook-pro{
        height: 500px;
        background-color: black;
        width: 100%;
        margin-top: 400px;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
    }
    .macbook-pro h1{
        font-size: 35px;
        
    }
    .macbook-pro h4{
        font-size: 200%;
        font-weight:lighter;
        font-style: normal;
        letter-spacing: 0px;
        margin-top: -20px;
        
    }
    .macbook-pro h5{
        font-size: 100%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;;
        
    }
    .learnmore-link ul {
        display: flex;
        list-style: none;
        margin-top: 0px;
        margin-left: -1%;
        
    }
    .macbook-pro .learnmore-link ul li{
      font-size: 100%;
        color: #2997FF;
        width: 45%;
    }
    .macbook-pro-topitem{
        z-index: 1;
        margin-left: calc(20%);
        margin-right: calc(20%);
        margin-top: 30px;

    }
    .macbook-pro .macbook-pro-img{
        z-index: 0;
        margin-top:200px;
        position: relative;
        
    }
    .mac-mini{
        height: 500px;
        background-color: black;
        width: 100%;
        top: 0;
        margin-top: 80px;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
    }
    .mac-mini h1{
        font-size: 35px;
        
    }
    .mac-mini h4{
        font-size: 200%;
        font-weight:lighter;
        font-style: normal;
        letter-spacing: 0px;
        margin-top: -20px;
        
    }
    .mac-mini h5{
        font-size: 150%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;;
        
    }
    .mac-mini-learnmore-link ul {
        display: flex;
        list-style: none;
        margin-top: 0px;
        
    }
    .mac-mini-learnmore-link ul li{
      font-size: 95%;
        color: #2997FF;
        width: 45%;
    }
    .mac-mini-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(20%);
        margin-right: calc(20%);
        margin-top: 30px;
    }
    .mac-mini .mac-mini-img{
        width: 100%;
        z-index: 0;
        margin-top:200px;
        position: relative;
        
    }
    .homepad{
        height: 400px;
        background-color: black;
        width: 100%;
        margin-top: 105px;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
    }
    .homepad h1{
        font-size: 35px;
        
    }
    .homepad h4{
        font-size: 200%;
        font-weight:lighter;
        font-style: normal;
        letter-spacing: 0px;
        margin-top: -20px;
        
    }
    .homepad h5{
        font-size: 120%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;;
        
    }
    .homepad-learnmore-link ul {
        display: flex;
        list-style: none;
        margin-top: 0px;
        margin-left: 0%;
        
    }
    .homepad .homepad-learnmore-link ul li{
      font-size: 100%;
        color: #2997FF;
        width: 45%;
    }
    .homepad-topitem{
        z-index: 1;
        margin-left: calc(20%);
        margin-right: calc(20%);
        margin-top: 30px;

    }
    .homepad .homepad-img{
        z-index: 0;
        margin-top:200px;
        position: relative;
        
    }
    .grid-condainer{
        grid-template-columns: 1fr;
        position: relative;
        text-align: center;
        width: 97%;
        top: 210px;
      }
      .creative{
        width: 100%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 95%;
        margin-left: 10px;
        margin-top: 0px;
    }
    .creative h1{
        font-size: 40px;
        
    }
    .creative h5{
        font-size: 150%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .creative-topitem{
        z-index: 1;
        position: absolute;
        padding-top: 10%;
        margin-left: calc(30%);
        margin-right: calc(15%);
    }   
    .creative img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .creative-learnmore-link ul {
        display: flex;
        list-style: none;
    }
    .creative-learnmore-link ul li{
       font-size: 90%;
        color: #2997FF;
        width: 40%;
    }
    .watch{
        width: 100%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 95%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .watch h1{
        font-size: 50px;
        
    }
    .watch h5{
        font-size: 150%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .watch-topitem{
        z-index: 1;
        position: absolute;
        padding-top: 10%;
        margin-left: calc(24%);
        margin-right: calc(15%);
    }   
    .watch img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .watch-learnmore-link ul {
        display: flex;
        list-style: none;
    }
    .watch-learnmore-link ul li{
       font-size: 90%;
        color: #2997FF;
        width: 40%;
    }
    .iphone-14pro{
        width: 100%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 95%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .iphone-14pro h1{
        font-size: 40px;
        
    }
    .iphone-14pro h5{
        font-size: 150%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .iphone-14pro-topitem{
        z-index: 1;
        position: absolute;
        padding-top: 10%;
        margin-left: calc(35%);
        margin-right: calc(15%);
    }   
    .iphone-14pro img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .iphone-14pro-learnmore-link ul {
        display: flex;
        list-style: none;
    }
    .iphone-14pro-learnmore-link ul li{
       font-size: 90%;
        color: #2997FF;
        width: 40%;
    }
    .iphone-14{
        width: 100%;
        color: black;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 95%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .iphone-14 h1{
        font-size: 40px;
        
    }
    .iphone-14 h5{
        font-size: 150%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .iphone-14-topitem{
        z-index: 1;
        position: absolute;
        padding-top: 10%;
        margin-left: calc(36%);
        margin-right: calc(15%);
    }   
    .iphone-14 img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .iphone-14-learnmore-link ul {
        display: flex;
        list-style: none;
    }
    .iphone-14-learnmore-link ul li{
       font-size: 90%;
        color: black;
        width: 40%;
    }
    .gift{
        width: 100%;
        color: #f5f5f7;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 80%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .gift h1{
        font-size: 40px;
        height: 100px;
        
    }
    .gift h5{
        font-size: 150%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .gift-topitem{
        z-index: 1;
        position: absolute;
        padding-top: 5%;
        margin-left: calc(28%);
        margin-right: calc(15%);
    }   
    .gift img{
        width: 100%;
        z-index: 0;
        margin-top:20%;
        position: relative;
        
    }
    .card{
        width: 100%;
        color: black;
        text-align: center;
        isolation: isolate;
        padding-top: 5%;
        height: 95%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .card h1{
        font-size: 40px;
        
    }
    .card h5{
        font-size: 150%;
        font-weight: lighter;
        font-style: normal;
        color:  #6E6E73;
        
    }
    .card-topitem{
        z-index: 1;
        position: absolute;
        padding-top: 5%;
        margin-left: calc(25%);
        margin-right: calc(15%);
    }   
    .card img{
        width: 100%;
        z-index: 0;
        margin-top:10%;
        position: relative;
        
    }
    .final-section{
        top: 100px;
        position: relative;
    }
    .footer{
        position: relative;
        top: 0;
        padding-top: 10px;
        margin-top: 115px;
    }
    
}
@media only screen and (min-width:960px) and (max-width:1400px){
   .macbook-pro{

   }
    .macbook-pro-img{
    padding-top: 200px;
    height: 225%;
   }
   .macbook-pro-topitem{
    z-index: 1;
    margin-left: calc(24%);
    margin-right: calc(24%);
    margin-top: 30px;

}
    .mac-mini{
        top: 0;
        margin-top: ;
    }
    .mac-mini-topitem{
        z-index: 1;
        position: absolute;
        margin-left: calc(27%);
        margin-right: calc(24%);
        margin-top: 45px;
    }
   .mac-mini-img{
    padding-top: 200px;
    height: 243%;
   }
   .homepad{
    padding-top: 200px;
   }
   .homepad-topitem{
    margin-left: calc(27%);
        margin-right: calc(25%);
   }
   .homepad-img{
    padding-top: 200px;
    height: 220%;
   }
   .grid-condainer{
    margin-top: 12%;
    width: 97%;
    margin-left: 2px;
   }
   .creative{
    margin-top: 0px;
   }
   .iphone-14{
    margin-top: 10px;
   }
   .iphone-14pro{
    margin-top: 10px;
   }
   .gift{
    margin-top: 10px;
   }
   .card{
    margin-top: 10px;
   }
   .final-section{
    margin-top: -215px;
    position: absolute;
   }
   .final-section .final-condainer{
    margin-left: 15%;
   }
   .footer{
    position: relative;
    top: 0;
    padding-top: 10px;
    margin-top: 3510px;
  }
  .creative-topitem{
    z-index: 1;
    position: absolute;
    margin-left: calc(10%);
    margin-right: calc(20%);
 }
 .creative img{
    padding-top: 15%;
 }
 .watch-topitem{
    z-index: 1;
    position: absolute;
    padding-top: 4%;
    margin-left: calc(10%);
    margin-right: calc(10%);
}   
.iphone-14pro-topitem{
    z-index: 1;
    position: absolute;
    padding-top:1%;
    margin-left: calc(14%);
    margin-right: calc(15%);
}
.iphone-14pro img{
    padding-top: 10%;
}   
.iphone-14-topitem{
    z-index: 1;
    position: absolute;
    padding-top: 1%;
    margin-left: calc(18%);
    margin-right: calc(10%);
}  
.iphone-14 img{
    padding-top: 10%;
} 
.gift-topitem{
    z-index: 1;
    position: absolute;
    padding-top: 0%;
    margin-left: calc(8%);
    margin-right: calc(15%);
}
.gift img{
    padding-top: 20%;
}   
.card-topitem{
    z-index: 1;
    position: absolute;
    padding-top: 5%;
    margin-left: calc(10%);
    margin-right: calc(7%);
}   
.card img{
    padding-top: 10%;
}


}
